.page-paginator{
    position: relative!important;
    margin: auto!important;
    font-style: normal!important;
    font-weight: 400 !important;
    font-size: 29px !important;
    line-height: 32px !important;
    text-align: right !important;
    color: black !important;


    
}


@media screen and (max-width:644px) {
.page-paginator{
     width:187px;

     .page_num{
         min-width:20px!important;
         padding-right: 12px!important;
            padding-left: 12px!important;
     }

     .arrow{
        min-width:20px !important;
        padding-right: 12px !important;
        padding-left: 12px !important;
     }
}
   
    
}