.cart-item-wrapper{
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:10px;
    .description{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin-right:10px;
        .name{
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            width: 100%;
            color: #000000;
            margin-bottom:9px;


        }
        .price{
            font-style: normal;
            font-weight: 400;
            font-size: 29px;
            line-height: 32px;
            color: #656565;
            width: 100%;
        }
    }

    .cart-item-photo{
        width: 149px;
        height: 86px;
        img{
        width: 149px;
        height: 86px;
        }
    }
}


@media screen and (max-width:767px) {
    .cart-item-wrapper {
        .cart-item-photo {
            width: 100px!important;
            height: 60px !important;
        
            img {
                width:100px !important;
                height: 60px !important;
            }
        }
       .description{
           .name{
                font-size: 12px;
                line-height: 14px;
                }
            .price{
        font-size: 12px;
        line-height: 14px;
            }
           }
       }
    }

